<div class="sidebar">
    <h2>Sistema Jass</h2>
    <p class="subtitle">Servicio de programación de distribución de agua</p>
    <p class="description">Gestiona la programación de la distribución de agua por zonas, calles y sectores.</p>
  
    <ul class="nav">
      <li><a routerLink="/"><i class="fas fa-chart-bar"></i> Dashboard</a></li>
      <li><a routerLink="/organizations"><i class="fas fa-book-open"></i> Organizaciones</a></li>
      <li><a routerLink="sedes"><i class="fas fa-road"></i> Sedes</a></li>
      <li><a routerLink="/claims"><i class="fas fa-tint"></i> Reclamos</a></li>
    </ul>
    
    <div class="bottom-links">
      <button class="link-btn"><i class="fas fa-book"></i> Guía de usuario</button>
      <button class="link-btn logout"><i class="fas fa-door-open"></i> Logout</button>
    </div>
  </div>
  
  <div class="content">
    <!-- Aquí se cargarán dinámicamente los componentes de las rutas hijas (Organizaciones, Claims, etc.) -->
    <router-outlet></router-outlet>
  </div>
