<div class="sidebar">
    <h2>Sistema Jass</h2>
    <p class="subtitle">Servicio de programación de distribución de agua</p>
    <p class="description">Gestiona la programación de la distribución de agua por zonas, calles y sectores.</p>
  
    <ul class="nav">
      <li><i class="fas fa-chart-bar"></i> Dashboard</li>
      <li class="active"><i class="fas fa-book-open"></i> Organizaciones</li>
      <li><i class="fas fa-road"></i> Sedes</li>
      <li><i class="fas fa-tint"></i> Reclamos</li>
    </ul>
  
    <div class="bottom-links">
      <button class="link-btn"><i class="fas fa-book"></i> Guía de usuario</button>
      <button class="link-btn logout"><i class="fas fa-door-open"></i> Logout</button>
    </div>
  </div>
  
  <div class="content">
      <app-organization></app-organization>  
  </div>